.fa {
	  padding: 20px;
	  width: 65px;
	  height: 65px;
	  text-align: center;
	  text-decoration: none;
	  border-radius: 45px;
	}
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #f40083;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.image
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url(Pictures/contact.png);
	background-repeat: no-repeat;
	background-size: 400px 300px;
	background-position: center;
	height: 350px;
}
.icons, .social, .icons ul
{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.icons
{
	flex-direction: column;
}
.icons ul
{
	margin-top: 30px;
}
.form, .section
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.form label
{
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 20px;
}
.section
{
	padding: 20px 20px;
	margin: 20px 0px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
	background-color: rgb(220,220,240);
}
input, textarea
{
	border:none;
	border-bottom: solid rgb(200,200,220);
	background-color: rgb(220,220,240);
	resize: none;
	font-size: 20px;
}
input:focus, textarea:focus
{
	outline: none;
	border-bottom: solid rgb(170,170,200);
}
@media screen and (max-width: 800px)
{
	.image
	{
		background-position: bottom;
	}
}
button
{
	width:100%;
	background-color: rgb(220,220,240);
	height:40px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
	text-transform: uppercase;
}