html
{
	scroll-behavior: smooth;
}
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
nav{
	display:flex;
	justify-content:space-around;
	align-items: center;
	min-height: 50px;
	background-color: rgb(45,45,65);
	font-family: 'Audiowide', cursive;
}
.logo
{
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size:22px;
	color: rgb(226,226,126);
}
.links
{
	display:flex;
	justify-content: space-around; /*You need to define the space using width*/
	width: 60%;
}
li
{
	list-style-type: none;
}
.links a
{
	font-family: 'Bungee', cursive;
	color: rgb(106,156,226);
	letter-spacing: 3px;
	font-size: 20px;
	text-decoration: none;
}
a{
	text-decoration: none;
}
a:hover
{
	color: rgb(226,226,126);
}
.burger
{
	display: none;
}
.burger div
{
	width: 25px;
	height: 2px;
	background-color: rgb(226,226,126);
	margin: 5px;
	transition: all 0.3s ease-in;
}
.content
{
	font-family: 'Hind', sans-serif;
	font-size: 30px;
	padding-left: 2vw;
	padding-top: 2vh;
	margin:5vw;
}

@media screen and (max-width:1440px)
{
	.links 
	{
		width:70%;
	}
}

@media screen and (max-width:800px)
{
	.links
	{
		position: absolute;
		justify-content: space-around;
		display: flex;
		flex-direction: column;
		height: 100%;
		top: 50px;
		left:0px;
		background-color: rgb(45,45,65);
		width:40vw;
		visibility: hidden;
	}
	.links li
	{
		padding-left: 2vw;
		cursor: pointer;
		opacity:0;
	}
	.burger
	{
		display: block;
		cursor: pointer;
	}

}
@media screen and (max-width: 800px)
{
	.content
	{
		margin-left: 0px;
	}
}
@keyframes navLinkFade
{
	from
	{
		opacity: 0;
		transform: translateX(-50px);
	}
	to
	{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes appear
{
	from{
		opacity: 0;
	}
	to{
		opacity:1;
	}
}
.nav-active
{
	visibility: visible;
}
.toggle .line1
{
	transform: rotate(-45deg) translate(0px,10px);
}
.toggle .line2
{
	opacity:0;
}
.toggle .line3
{
	transform: rotate(45deg) translate(0px,-10px);
}
footer
{
	justify-content: space-around;
	width:100%;
	display: flex;
	align-items: center;
	background-color: rgb(45,45,65);
    color: rgb(255,255,255);
	padding: 15px 0px;
}
body
{
	background-color: rgb(230,230,250);
}