*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
nav{
	display:flex;
	justify-content:space-around;
	align-items: center;
	min-height: 6vh;
	background-color: rgb(45,45,65);
	font-family: 'Audiowide', cursive;
}
body
{
	background-color: gray;
}
.logo
{
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size:22px;
	color: rgb(226,226,126);
}
.links
{
	display:flex;
	justify-content: space-around;
	width: 40%;
}
.links a
{
	color: rgb(106,156,226);
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 20px;
}
a:hover
{
	color: rgb(226,226,126);
}
.burger
{
	display: none;
}
.burger div
{
	width: 25px;
	height: 2px;
	background-color: rgb(226,226,126);
	margin: 5px;
	transition: all 0.3s ease-in;
}

@media screen and (max-width:1024px)
{
	.links a
	{
		width:80%;
	}
}

@media screen and (max-width:768px)
{
	.links
	{
		position: absolute;
		display: flex;
		flex-direction: column;
		height: 100%;
		top: 6vh;
		left:0px;
		background-color: rgb(45,45,65);
		width:30%;
		visibility: collapse;
	}
	.links a
	{
		padding-left: 2vh;
		cursor: pointer;
		opacity: 0;
	}
	.burger
	{
		display: block;
		cursor: pointer;
	}
}

@keyframes navLinkFade
{
	from
	{
		opacity:0;
		transform:translateX(-50px);
	}
	to
	{
		opacity:1;
		transform: translateX(0px);
	}
}
.nav-active
{
	transition: transform 0.5s ease-in;
	visibility: visible;
}
.slide
{
	transform: translateX(25vh);
}
.toggle .line1
{
	transform: rotate(-45deg) translate(0px,10px);
}
.toggle .line2
{
	opacity:0;
}
.toggle .line3
{
	transform: rotate(45deg) translate(0px,-10px);
}